{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}

{{ form_start(searchForm) }}
    <div class='row justify-content-md-center'>
        {{ form_widget(searchForm) }}
        {# {{ form_row(searchForm.searchfield) }} 
        {{ form_row(searchForm.type) }}
        {{ form_row(searchForm.submit) }} #}
    </div>
{{ form_end(searchForm) }}

{# {% if searchForm.searchfield == '' %} #}
{% if movies is defined %}
   <div class='row justify-content-md-center'>
    {% for movie in movies %}
        <article class="jumbotron jumbotron-fluid">
        <a href = "{{ path('movie', {'id':movie.id}) }}">
            <div>
            <span class='row justify-content-md-center'><img src = "https://image.tmdb.org/t/p/w300{{ movie.poster_path }}"></span><br>
            <h2 class='row justify-content-md-center'>{{ movie.title }}</h2><br>
            </div>
        </a>
            <span class='row justify-content-md-center'>{{ movie.overview}}</span><br>
        </article>
    {% endfor %}
        
    </div>
{% else %}
    <div class='row justify-content-md-center'>
    {% for res in result_search %}
        <article class="jumbotron jumbotron-fluid">
        <a href = "{{ path('movie', {'id':res.id}) }}">
            <div>
            <span class='row justify-content-md-center'><img src = "https://image.tmdb.org/t/p/w300{{ res.poster_path }}"></span><br>
            <h2 class='row justify-content-md-center'>{{ res.title }}</h2><br>
            </div>
        </a>
            <span class='row justify-content-md-center'>{{ res.overview}}</span><br>
        </article>
    {% endfor %}
        
    </div>
{% endif %}

{% endblock %}
