
{% extends 'base.html.twig' %}

{% block title %}Create List{% endblock %}

{% block body %}
<div class="container mt-2">
    <h2>My Lists : </h2>
    <table class="table table-mt3">
        <tbody class="thead-dark">
            <tr>
                <th>Id</th>
                <td>{{ list.id }}</td>
            </tr>
             <tr>   
                <th>Name</th>
                <td>{{ list.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ list.description }}</td>
            </tr>
            <tr>
            <th>Movies</th>
                {% for movies in list.movies %}
                <td>{{ movies }}</td>
                {% endfor %}
            <tr>
                <th>Author</th>
                <td>{{ list.author.name }}</td>  
            </tr>
            <tr>
                <th>Share</th>
                <td>{{ list.share ? 'Yes' : 'No' }}  
            </tr>
        </tbody>
        </table>    
   </div> 
        <a class="btn btn-dark" href="{{ path('lists_index', {'id': app.user.id}) }}">Back to index</a>

{% endblock %}